<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :name %><br />
    <%= f.text_field :name %>

    <h2>Applications</h2>
    <%= f.fields_for :applications do |application| %>
      <%= render 'application_fields', f: application  %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add application', f, :applications, :class => "btn btn-default" %>
    </div>
  </div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
