<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>

</p>

<p>
  <strong>Applications:</strong>
  <ul>
  <% @project.applications.each do |application| %>
    <li>
      <%= application.name %>
      <%= link_to 'source control', application.source_control_uri if application.source_control_uri.present? %>
    </li>
    
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
